In [1]:
from tensorflow import keras
from keras.models import Model
from keras.layers import Input, Activation, Dense, Dropout
from keras.layers import concatenate

Using TensorFlow backend.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
results = pd.read_csv('data/train/train_submissions.csv')
test = pd.read_csv('data/test_submissions_NeDLEvX.csv')
results.shape, test.shape

((155295, 3), (66555, 3))

In [8]:
len(results['user_id'].unique()),len(results['problem_id'].unique())

(3529, 5776)

In [9]:
users = results['user_id'].unique()
problems = results['problem_id'].unique()

In [18]:
from itertools import product

In [17]:
temp = results[:100]
temp.shape

(100, 3)

In [21]:
np.array(list(product(temp.user_id.unique(), temp.problem_id.unique())))

array([['user_232', 'prob_6507'],
       ['user_232', 'prob_2994'],
       ['user_232', 'prob_5071'],
       ...,
       ['user_3446', 'prob_2022'],
       ['user_3446', 'prob_5776'],
       ['user_3446', 'prob_5411']], dtype='<U9')

In [24]:
temp2 = pd.DataFrame(columns=temp['problem_id'].unique(), index=temp['user_id'].unique())

In [39]:
pd.DataFrame(columns=[temp['problem_id'].unique()])

Empty DataFrame
Columns: [(prob_6507,), (prob_2994,), (prob_5071,), (prob_703,), (prob_356,), (prob_6064,), (prob_1237,), (prob_4125,), (prob_1943,), (prob_3935,), (prob_5436,), (prob_3431,), (prob_3474,), (prob_2872,), (prob_6043,), (prob_1914,), (prob_5641,), (prob_522,), (prob_32,), (prob_5731,), (prob_4232,), (prob_3508,), (prob_6488,), (prob_1605,), (prob_2605,), (prob_534,), (prob_3073,), (prob_6442,), (prob_106,), (prob_1482,), (prob_164,), (prob_5804,), (prob_6426,), (prob_1149,), (prob_1346,), (prob_1047,), (prob_3038,), (prob_5954,), (prob_6321,), (prob_1084,), (prob_2811,), (prob_620,), (prob_4076,), (prob_6266,), (prob_1095,), (prob_4278,), (prob_4407,), (prob_4053,), (prob_583,), (prob_1481,), (prob_2624,), (prob_3411,), (prob_2334,), (prob_2463,), (prob_5631,), (prob_1537,), (prob_6114,), (prob_2174,), (prob_718,), (prob_4778,), (prob_4376,), (prob_3037,), (prob_3110,), (prob_4771,), (prob_3069,), (prob_2157,), (prob_1550,), (prob_3542,), (prob_1247,), (prob_6500,), (prob_5206,), (prob_3465,), (prob_542,), (prob_2691,), (prob_157,), (prob_1922,), (prob_349,), (prob_3867,), (prob_5975,), (prob_4598,), (prob_1911,), (prob_4152,), (prob_226,), (prob_617,), (prob_3705,), (prob_5210,), (prob_5213,), (prob_1304,), (prob_5325,), (prob_2022,), (prob_5776,), (prob_5411,)]
Index: []

[0 rows x 92 columns]

In [49]:
temp2 = temp[:]
temp.shape, temp2.shape

((100, 3), (100, 3))

In [68]:
temp = temp[:10]

In [71]:
temp

     user_id problem_id  attempts_range
0   user_232  prob_6507               1
1  user_3568  prob_2994               3
2  user_1600  prob_5071               1
3  user_2256   prob_703               1
4  user_2321   prob_356               1
5  user_1569  prob_6064               1
6  user_3293  prob_1237               1
7   user_915  prob_4125               2
8  user_2032  prob_1943               1
9  user_1410  prob_3935               1

In [69]:
pd.crosstab(temp.user_id, temp.problem_id)

problem_id,prob_1237,prob_1943,prob_2994,prob_356,prob_3935,prob_4125,prob_5071,prob_6064,prob_6507,prob_703
user_id,,,,,,,,,,
user_1410,0,0,0,0,1,0,0,0,0,0
user_1569,0,0,0,0,0,0,0,1,0,0
user_1600,0,0,0,0,0,0,1,0,0,0
user_2032,0,1,0,0,0,0,0,0,0,0
user_2256,0,0,0,0,0,0,0,0,0,1
user_232,0,0,0,0,0,0,0,0,1,0
user_2321,0,0,0,1,0,0,0,0,0,0
user_3293,1,0,0,0,0,0,0,0,0,0
user_3568,0,0,1,0,0,0,0,0,0,0
user_915,0,0,0,0,0,1,0,0,0,0

In [ ]:
# temp.pivot(index='row', columns='col', values='val0')

In [70]:
temp.pivot_table(index='user_id', columns='problem_id', fill_value=0, aggfunc='size')

problem_id,prob_1237,prob_1943,prob_2994,prob_356,prob_3935,prob_4125,prob_5071,prob_6064,prob_6507,prob_703
user_id,,,,,,,,,,
user_1410,0,0,0,0,1,0,0,0,0,0
user_1569,0,0,0,0,0,0,0,1,0,0
user_1600,0,0,0,0,0,0,1,0,0,0
user_2032,0,1,0,0,0,0,0,0,0,0
user_2256,0,0,0,0,0,0,0,0,0,1
user_232,0,0,0,0,0,0,0,0,1,0
user_2321,0,0,0,1,0,0,0,0,0,0
user_3293,1,0,0,0,0,0,0,0,0,0
user_3568,0,0,1,0,0,0,0,0,0,0
user_915,0,0,0,0,0,1,0,0,0,0

In [72]:
pd.get_dummies(temp['user_id']).T.dot(pd.get_dummies(temp['problem_id']))

,prob_1237,prob_1943,prob_2994,prob_356,prob_3935,prob_4125,prob_5071,prob_6064,prob_6507,prob_703
user_1410,0,0,0,0,1,0,0,0,0,0
user_1569,0,0,0,0,0,0,0,1,0,0
user_1600,0,0,0,0,0,0,1,0,0,0
user_2032,0,1,0,0,0,0,0,0,0,0
user_2256,0,0,0,0,0,0,0,0,0,1
user_232,0,0,0,0,0,0,0,0,1,0
user_2321,0,0,0,1,0,0,0,0,0,0
user_3293,1,0,0,0,0,0,0,0,0,0
user_3568,0,0,1,0,0,0,0,0,0,0
user_915,0,0,0,0,0,1,0,0,0,0

In [75]:
temp.pivot_table(
    values='attempts_range', index='user_id', columns='problem_id',
    fill_value=0, aggfunc=[np.abs])

            absolute                                                   \
problem_id prob_1237 prob_1943 prob_2994 prob_356 prob_3935 prob_4125
user_id
user_1410          0         0         0        0         1         0
user_1569          0         0         0        0         0         0
user_1600          0         0         0        0         0         0
user_2032          0         1         0        0         0         0
user_2256          0         0         0        0         0         0
user_232           0         0         0        0         0         0
user_2321          0         0         0        1         0         0
user_3293          1         0         0        0         0         0
user_3568          0         0         3        0         0         0
user_915           0         0         0        0         0         2


problem_id prob_5071 prob_6064 prob_6507 prob_703
user_id
user_1410          0         0         0        0
user_1569          0         1         0        0
user_1600          1         0         0        0
user_2032          0         0         0        0
user_2256          0         0         0        1
user_232           0         0         1        0
user_2321          0         0         0        0
user_3293          0         0         0        0
user_3568          0         0         0        0
user_915           0         0         0        0

In [ ]:
temp['attempts_range']

In [50]:
pd.merge(temp,temp2,on=['user_id'],how='left')

       user_id problem_id_x  attempts_range_x problem_id_y  attempts_range_y
0     user_232    prob_6507                 1    prob_6507                 1
1    user_3568    prob_2994                 3    prob_2994                 3
2    user_3568    prob_2994                 3    prob_4278                 1
3    user_1600    prob_5071                 1    prob_5071                 1
4    user_2256     prob_703                 1     prob_703                 1
5    user_2321     prob_356                 1     prob_356                 1
6    user_1569    prob_6064                 1    prob_6064                 1
7    user_3293    prob_1237                 1    prob_1237                 1
8     user_915    prob_4125                 2    prob_4125                 2
9    user_2032    prob_1943                 1    prob_1943                 1
10   user_1410    prob_3935                 1    prob_3935                 1
11   user_2085    prob_5436                 1    prob_5436                 1
12   user_1810    prob_3431                 2    prob_3431                 2
13   user_1287    prob_3474                 1    prob_3474                 1
14   user_2063    prob_2872                 1    prob_2872                 1
15    user_724    prob_6043                 2    prob_6043                 2
16     user_88    prob_1914                 2    prob_1914                 2
17   user_2269    prob_5641                 1    prob_5641                 1
18    user_489     prob_522                 1     prob_522                 1
19   user_1997      prob_32                 1      prob_32                 1
20   user_1929    prob_5731                 2    prob_5731                 2
21   user_2084    prob_4232                 1    prob_4232                 1
22    user_923    prob_3508                 2    prob_3508                 2
23    user_150    prob_6488                 1    prob_6488                 1
24   user_2898    prob_1605                 1    prob_1605                 1
25   user_3086    prob_2605                 1    prob_2605                 1
26   user_2552     prob_534                 1     prob_534                 1
27    user_508    prob_3073                 1    prob_3073                 1
28   user_1910    prob_6442                 4    prob_6442                 4
29   user_1066     prob_106                 1     prob_106                 1
..         ...          ...               ...          ...               ...
72   user_1343    prob_3542                 1    prob_3542                 1
73   user_1467    prob_1247                 2    prob_1247                 2
74    user_131    prob_6500                 3    prob_6500                 3
75   user_2147    prob_5206                 1    prob_5206                 1
76    user_674    prob_3465                 2    prob_3465                 2
77   user_1517    prob_1537                 1    prob_1537                 1
78   user_1899     prob_542                 1     prob_542                 1
79    user_419    prob_2691                 1    prob_2691                 1
80    user_109     prob_157                 2     prob_157                 2
81    user_507    prob_1922                 1    prob_1922                 1
82    user_933    prob_1047                 2    prob_1047                 2
83     user_92     prob_349                 1     prob_349                 1
84   user_1210    prob_3867                 1    prob_3867                 1
85   user_3043    prob_5975                 2    prob_5975                 2
86   user_3196    prob_4598                 1    prob_4598                 1
87    user_110    prob_1911                 1    prob_1911                 1
88   user_1765     prob_542                 1     prob_542                 1
89   user_3131    prob_4152                 2    prob_4152                 2
90    user_454     prob_226                 2     prob_226                 2
91    user_994     prob_617                 1     prob_617                 1
92   user_1711    prob_1537                 1    prob_1537                 1
93   user_1577    prob_3705                 1    prob_3705                 1
94    user_637    prob_5071                 1    prob_5071                 1
95    user_758    prob_5210                 3    prob_5210                 3
96   user_1266    prob_5213                 3    prob_5213                 3
97    user_342    prob_1304                 3    prob_1304                 3
98   user_3381    prob_5325                 5    prob_5325                 5
99   user_2467    prob_2022                 2    prob_2022                 2
100  user_2003    prob_5776                 4    prob_5776                 4
101  user_3446    prob_5411                 2    prob_5411                 2

[102 rows x 5 columns]

In [44]:
pd.merge(temp,results['problem_id'],on=['user_id'],how='left')
# pd.merge(matrix, group, on=['date_block_num', 'shop_id', 'type_code'], how='left')

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>

In [34]:
temp2.index

Index(['user_232', 'user_3568', 'user_1600', 'user_2256', 'user_2321',
       'user_1569', 'user_3293', 'user_915', 'user_2032', 'user_1410',
       'user_2085', 'user_1810', 'user_1287', 'user_2063', 'user_724',
       'user_88', 'user_2269', 'user_489', 'user_1997', 'user_1929',
       'user_2084', 'user_923', 'user_150', 'user_2898', 'user_3086',
       'user_2552', 'user_508', 'user_1910', 'user_1066', 'user_1637',
       'user_2561', 'user_812', 'user_2340', 'user_1912', 'user_3185',
       'user_1102', 'user_1150', 'user_771', 'user_1155', 'user_3221',
       'user_2307', 'user_2906', 'user_1828', 'user_194', 'user_3155',
       'user_2953', 'user_807', 'user_661', 'user_1964', 'user_2333',
       'user_2693', 'user_973', 'user_2833', 'user_2431', 'user_587',
       'user_2023', 'user_2026', 'user_1149', 'user_3455', 'user_573',
       'user_2884', 'user_1917', 'user_3075', 'user_3347', 'user_2841',
       'user_2389', 'user_628', 'user_2969', 'user_558', 'user_1343',
       'user_1467', 'user_131', 'user_2147', 'user_674', 'user_1517',
       'user_1899', 'user_419', 'user_109', 'user_507', 'user_933', 'user_92',
       'user_1210', 'user_3043', 'user_3196', 'user_110', 'user_1765',
       'user_3131', 'user_454', 'user_994', 'user_1711', 'user_1577',
       'user_637', 'user_758', 'user_1266', 'user_342', 'user_3381',
       'user_2467', 'user_2003', 'user_3446'],
      dtype='object')

In [2]:
featureInput = Input(shape = (10,), name = 'problemInput')
Net = Dense(16, activation = 'relu')(featureInput)
# problemNet = BatchNormalization()(problemNet)
Net = Activation('relu')(Net)
Net = Dense(4, activation = 'relu')(Net)
# problemNet = BatchNormalization()(problemNet)
Net = Activation('relu')(Net)
Net = Dense(2, activation = 'relu')(Net)
featureNet = Model(inputs = [featureInput], outputs = [Net], name = 'featureNet')
featureNet.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
problemInput (InputLayer)    (None, 10)                0
_________________________________________________________________
dense_1 (Dense)              (None, 16)                176
_________________________________________________________________
activation_1 (Activation)    (None, 16)                0
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 68
_________________________________________________________________
activation_2 (Activation)    (None, 4)                 0
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 10
=================================================================
Total params: 254
Trainable params: 254
Non-trainable params: 0
_________________________________________________________________

In [4]:
users = Input(shape = (10,), name = 'userNet')
problems = Input(shape = (10,), name = 'problemNet')
userNet = featureNet(users)
problemNet = featureNet(problems)

combined_features = concatenate([userNet, problemNet], name = 'merge_features')
combined_features = Dense(10, activation = 'linear')(combined_features)
# combined_features = BatchNormalization()(combined_features)
combined_features = Activation('relu')(combined_features)
combined_features = Dense(7, activation = 'linear')(combined_features)
# combined_features = BatchNormalization()(combined_features)
combined_features = Activation('relu')(combined_features)
classification = Dense(5, activation = 'sigmoid')(combined_features)
recomSys = Model(inputs = [users, problems], outputs = [classification], name = 'recomSys')
recomSys.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
userNet (InputLayer)            (None, 10)           0
__________________________________________________________________________________________________
problemNet (InputLayer)         (None, 10)           0
__________________________________________________________________________________________________
featureNet (Model)              (None, 2)            254         userNet[0][0]
                                                                 problemNet[0][0]
__________________________________________________________________________________________________
merge_features (Concatenate)    (None, 4)            0           featureNet[3][0]
                                                                 featureNet[4][0]
__________________________________________________________________________________________________
dense_7 (Dense)                 (None, 10)           50          merge_features[0][0]
__________________________________________________________________________________________________
activation_5 (Activation)       (None, 10)           0           dense_7[0][0]
__________________________________________________________________________________________________
dense_8 (Dense)                 (None, 7)            77          activation_5[0][0]
__________________________________________________________________________________________________
activation_6 (Activation)       (None, 7)            0           dense_8[0][0]
__________________________________________________________________________________________________
dense_9 (Dense)                 (None, 5)            40          activation_6[0][0]
==================================================================================================
Total params: 421
Trainable params: 421
Non-trainable params: 0
__________________________________________________________________________________________________

In [5]:
# For a multi-class classification problem
recomSys.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
# prediction = model.predict_classes(x_train,batch_size)