In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/fast_route.csv', 
                usecols=['id','total_distance','total_travel_time','number_of_steps'])
df.to_csv('fast_route_small.csv')

In [6]:
df1 = df.loc[:50000-1]
df1.to_csv('fast_route_small_data.csv')

#

In [7]:
reset_selective df1

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [9]:
reset_selective df

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [5]:
df = pd.read_csv('small_data_set/fast_route1.csv', index_col=0)
df1 = pd.read_csv('small_data_set/fast_route1.csv', index_col=0)

In [6]:
df

              id  total_distance  total_travel_time  number_of_steps
0      id2875421          2009.1              164.9                5
1      id2377394          2513.2              332.0                6
2      id3504673          1779.4              235.8                4
3      id2181028          1614.9              140.1                5
4      id0801584          1393.5              189.4                5
5      id1813257          1705.1              138.8                5
6      id1301050          1310.7              160.6                2
7      id0012891          6786.8              601.8               13
8      id1436371          3935.0              535.4                6
9      id1299289          5596.6              514.8                9
10     id1187965          2276.6              207.9                4
11     id0799785          1337.9              132.4                4
12     id2900608          8017.6              807.7               10
13     id3319787           896.8               88.1                5
14     id3390316          1332.3              183.1                4
15     id0809232          3334.3              331.2               11
16     id2352683          3044.3              353.9                8
17     id1603037          5558.2              745.0                9
18     id2104175          4265.2              312.9                8
19     id3973319          2526.4              190.2                3
20     id0266980          5535.3              625.8                4
21     id3970352          1730.6              247.1                7
22     id3361153          2311.4              261.1                6
23     id2403238          1237.4              185.3                4
24     id3323083          4139.2              491.1               10
25     id3720663          4173.4              342.5                7
26     id2129090          2782.9              244.6                7
27     id3961107          1866.7              253.4                8
28     id3326491          2451.3              333.1                4
29     id0718344          9765.6              902.3               10
...          ...             ...                ...              ...
49970  id0309011          3123.1              413.9                6
49971  id0641726          1627.4              121.0                4
49972  id3370066          5253.2              705.0                7
49973  id3340929          1205.7              112.1                4
49974  id3925447            33.5                1.9                2
49975  id2324734          2725.3              267.3                7
49976  id0725929          1264.2              201.8                4
49977  id0413462          2544.9              271.1                5
49978  id1579852          1638.4              163.5                6
49979  id0674481          1829.6              160.7                3
49980  id2634831          1534.7              208.0                6
49981  id3321777          6837.3              743.6                9
49982  id0527825           595.9               70.6                4
49983  id0161085          1940.2              178.2                5
49984  id0243466          3076.9              300.7                9
49985  id3928759           833.6              105.3                4
49986  id2296910          1107.5              102.1                3
49987  id1744810          2016.4              173.2                4
49988  id3342611          2376.5              259.4                6
49989  id2160181          3010.6              379.1                5
49990  id2819475          1793.1              158.6                5
49991  id3775848          2292.5              221.2                5
49992  id0791852           941.5              123.4                2
49993  id2402466          4524.0              442.4                7
49994  id2129464          1534.0              220.4                7
49995  id3679867          1626.8              126.0                4
49996  id1578617          2570.9              303.1                5
49997  id1859352          1559.4              140.1                2
49998  id2274595          3753.5              509.1                4
49999  id3106449          1767.3              168.3                4

[50000 rows x 4 columns]

In [7]:
df1

              id  total_distance  total_travel_time  number_of_steps
0      id2875421          2009.1              164.9                5
1      id2377394          2513.2              332.0                6
2      id3504673          1779.4              235.8                4
3      id2181028          1614.9              140.1                5
4      id0801584          1393.5              189.4                5
5      id1813257          1705.1              138.8                5
6      id1301050          1310.7              160.6                2
7      id0012891          6786.8              601.8               13
8      id1436371          3935.0              535.4                6
9      id1299289          5596.6              514.8                9
10     id1187965          2276.6              207.9                4
11     id0799785          1337.9              132.4                4
12     id2900608          8017.6              807.7               10
13     id3319787           896.8               88.1                5
14     id3390316          1332.3              183.1                4
15     id0809232          3334.3              331.2               11
16     id2352683          3044.3              353.9                8
17     id1603037          5558.2              745.0                9
18     id2104175          4265.2              312.9                8
19     id3973319          2526.4              190.2                3
20     id0266980          5535.3              625.8                4
21     id3970352          1730.6              247.1                7
22     id3361153          2311.4              261.1                6
23     id2403238          1237.4              185.3                4
24     id3323083          4139.2              491.1               10
25     id3720663          4173.4              342.5                7
26     id2129090          2782.9              244.6                7
27     id3961107          1866.7              253.4                8
28     id3326491          2451.3              333.1                4
29     id0718344          9765.6              902.3               10
...          ...             ...                ...              ...
49970  id0309011          3123.1              413.9                6
49971  id0641726          1627.4              121.0                4
49972  id3370066          5253.2              705.0                7
49973  id3340929          1205.7              112.1                4
49974  id3925447            33.5                1.9                2
49975  id2324734          2725.3              267.3                7
49976  id0725929          1264.2              201.8                4
49977  id0413462          2544.9              271.1                5
49978  id1579852          1638.4              163.5                6
49979  id0674481          1829.6              160.7                3
49980  id2634831          1534.7              208.0                6
49981  id3321777          6837.3              743.6                9
49982  id0527825           595.9               70.6                4
49983  id0161085          1940.2              178.2                5
49984  id0243466          3076.9              300.7                9
49985  id3928759           833.6              105.3                4
49986  id2296910          1107.5              102.1                3
49987  id1744810          2016.4              173.2                4
49988  id3342611          2376.5              259.4                6
49989  id2160181          3010.6              379.1                5
49990  id2819475          1793.1              158.6                5
49991  id3775848          2292.5              221.2                5
49992  id0791852           941.5              123.4                2
49993  id2402466          4524.0              442.4                7
49994  id2129464          1534.0              220.4                7
49995  id3679867          1626.8              126.0                4
49996  id1578617          2570.9              303.1                5
49997  id1859352          1559.4              140.1                2
49998  id2274595          3753.5              509.1                4
49999  id3106449          1767.3              168.3                4

[50000 rows x 4 columns]

In [ ]:
# anotehr way 
# pd.read_csv(io.StringIO(df.to_csv()), index_col=0)